{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container" style="margin-top: 20px; width: 65%">
            <h3>Review form...</h3>
            <div class="form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    {% else %}
        {#    You have to be signed up to view this page!#}
        <meta http-equiv="Refresh" content="0; url='{% url 'login' %}'"/>
    {% endif %}
{% endblock %}
