{% extends 'base.html' %}

{% block title %}
    Review Form
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if review.id is None or review.user.id == user.id %}
            <div class="container" style="margin-top: 2%; padding-top: 10px; padding-bottom: 10px; width: 65%;
         border-style: solid; border-color: gainsboro; border-width: thin;">
                <div class="form-group">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success btn-lg">Save</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary btn-lg">Back</a>
                    </form>

                </div>
            </div>
        {% else %}
            <div class="container" style="margin-top: 20px">
                <h4>You have no permission to update this post - It's not yours...</h4>
                <br>
                <a href="{% url 'home' %}" class="btn btn-secondary btn-md">Back</a>
            </div>
        {% endif %}
    {% else %}
        {#    You have to be signed up to view this page!#}
        <meta http-equiv="Refresh" content="0; url='{% url 'login' %}'"/>
    {% endif %}
{% endblock %}


